@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Responsável @ViewData["Responsavel"].</p>

<address>
    <strong>Para mais informações: </strong> <a href="http://educandoweb.com.br">Educando web</a>
</address>
